@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --font-size-1: 60px;
    --font-size-2: 30px;
    --font-size-3: 21px;
    --font-size-1-phone: 30px;
    --font-size-2-phone: 20px;
    --font-size-3-phone: 15px;
    --font-size-1-tablet: 40px;
    --font-size-2-tablet: 30px;
    --font-size-3-tablet: 20px;
    --font-size-circle: 120px;
    --primary-btn-background-color: #5841d8;
    --primary-btn-text-color: #c6c7d2;
    --primary-btn-border-color: #c6c7d2;
    --primary-hover-btn-background-color: #5241b1;
    --secondary-btn-background-color: #f1f1f1;
    --secondary-btn-text-color: #5841d8;
    --secondary-hover-btn-background-color: #c6c7d2;
    --primary-text-color: #1a1b22;
    --secondary-text-color: #c6c7d2;
    --third-text-color: #5841d8;
    --default-text-color: #f1f1f1;
    --primary-background-color: #ebebff;
    --secondary-background-color: #5841d8;
    --third-background-color: #1a1b22;
    --default-background-color: #f1f1f1;
    --logo-text-color: var(--secondary-text-color);
    --header-main-color: var(--secondary-background-color);
    --header-text-color: var(--secondary-text-color);
    --btn-border-radius: 9999px;
    --btn-border-width: 1px;
    --btn-border-style: solid;
    --btn-text-color-1: var(--secondary-text-color);
    --btn-border-color-1: var(--primary-btn-border-color);
    --btn-background-color-1: var(--primary-btn-background-color);
    --btn-text-color-2: var(--secondary-btn-text-color);
    --btn-background-color-2: var(--secondary-btn-background-color);
    --module-1-background-color: var(--primary-background-color);
    --module-1-text-color: var(--primary-text-color);
    --font-family-default: "Nunito", "Lato", "Roboto", "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-btn: IBM Plex Sans, Helvetica, Arial, sans-serif;
}